<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/es" />
    <meta name="robots" content="noindex" />
    <link rel="canonical" href="https://tekosoft.io/es" />
  </head>
  <body></body>
</html>
